# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/
vendor/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
ehthumbs.db

# IDE
.vscode/
.idea/
*.sublime-*

# Cache
.cache/
.cache-loader/